@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}

.cursor-pointer{
	cursor: pointer;
}

.bg-gris{
	background-color: #ECEDF1;
}

.bg-gris2{
	background-color: #CCCCCC;
}

.text-gris2{
	color: #CCCCCC;
}

.bg-light-blue{
	background-color: var(--light-blue);
}

.bg-blue1{
	background-color: var(--blue);
}

.bg-dark-blue{
	background-color: var(--dark-blue);
}

.light-blue-text{
	color: var(--light-blue);
}

.blue-text{
	color: var(--blue);
}

.dark-blue-text{
	color: var(--dark-blue);
}

/* shared */
.top-menu{
	height: 6vh; 
}
.contenido{
	margin-top: 5vh;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	height: 65vh;
}
.malla{
	height: 79vh;
	background-image: url('./images/bg-malla.png');
	background-size: cover;
}

.malla-admin{
	height: 84vh;
	background-image: url('./images/bg-malla.png');
	background-size: cover;
}

/* Botones de menu para subsecciones */
.btn-section-menu{
	height: 10vh;
	color: var(--dark-blue);
	border: 2px solid var(--dark-blue);
	width: 20vw;
	border-radius: 100px;
	font-weight: bold;
	font-size: 20px;
}
.btn-section-menu:hover{
	color: white;
	background-color: var(--light-blue);
}
/* BTN MODAL */
.btn-radius{
	border-radius: 40px;
}

/* Botones Admin */
.btn-border-lighblue-add{
	height: 4vh;
	color: var(--light-blue);
	border: 2px solid var(--light-blue);
	width: 8vw;
	border-radius: 30px;
	font-weight: bold;
}
.btn-border-lighblue-add:hover{
color: white;
background-color: var(--light-blue);
}

.btn-actions{
height: 2rem;
color: var(--light-blue);
border: 2px solid var(--light-blue);
width: 4rem;
border-radius: 30px;
font-weight: bold;
}

.btn-actions:hover{
color: white;
background-color: var(--light-blue);
}

.menu-container{
	height: 6vh; 
	background-color: #013F7A;
	position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.bg-img{
	background-image: url('./../assets/images/barra-legales.png');
	background-size: cover;
}